@import "~@blueprintjs/core/lib/scss/variables";

.inner-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $pt-grid-size;
  padding-right: $pt-grid-size;
}

.outer-container {
  margin-bottom: $pt-grid-size;
}

.navbar-container {
  margin: $pt-grid-size;
  a {
    text-decoration: none;
  }
}

body {
  background-color: $light-gray5;
}

.login-container {
  text-align: center;
}

.login-table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  td {
    padding-bottom: $pt-grid-size;
  }
}

.footer-container {
  margin: $pt-grid-size;
  margin-top: $pt-grid-size*4;
  text-align: center;
}

.horizontal-line-medium::before {
  content: ' ';
}

.horizontal-line-medium {
  border-top: 1px solid $gray1;
  width: 100vw;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $pt-grid-size*2;
}
